@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--white2);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: width 0.5s, left 0.5s;
}

.navigation.active {
  width: 0;
}

.navigation-list {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}

.navigation-item {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation-item-link {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  white-space: normal;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
}

.navigation-item-link:hover {
  opacity: 1;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white);
  transition: width 0.5s, left 0.5s;
}

.main.active {
  width: 100%;
  left: 0;
}

.topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: width 0.5s, left 0.5s;
}

.topbar.active {
  width: 100%;
  left: 0;
}


.logo-wrapper {
  width: 256px;
  height: 144px;
  position: relative;
}

.logo {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--black);
}

section {
  position: relative;
  min-height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .content .imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 20px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  position: relative;
  font-size: 1.4em;
  color: var(--black);
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  color: #777;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: var(--black2);
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.social-list {
  position: absolute;
  bottom: 60px;
  display: flex;
}

.social-item {
  list-style: none;
}

.social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 1.2em;
}

.social-link:hover {
  background: var(--black2);
  color: var(--white);
}

.adjust {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 40px;
  padding-top: 80px;
  background: var(--white);
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 50px;
  height: 1px;
  background: var(--black);
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.about-textBox {
  width: 49%;
  min-width: 49%;
}

.about-imgBx {
  margin-left: 40px;
  /* width: 300px;
    height: 300px; */
}

.bg {
  max-width: 100%;
  object-fit: cover;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.workBx {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.project-imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.project-imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workBx:hover .project-imgBx {
  transform: translateY(-100%);
}

.project-textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}

.workBx:hover .project-textBx {
  transform: translateY(0);
}

.project-textBx h3 {
  color: var(--white);
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contact .contactForm {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.contactForm .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.contactForm .row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contactForm .row input,
.contactForm .row2 textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: #333;
  background: #fff;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contactForm .row2 textarea {
  resize: none;
  height: 200px;
}

.contactForm .row2 input[type='submit'] {
  background: #333;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  max-width: 150px;
  border: none;
}

.copyright {
  position: relative;
  bottom: 0;
  padding: 10px 40px;
  text-align: center;
}

/*Responsive*/
@media (max-width: 992px) {
  .navigation {
    left: -100%;
  }

  .navigation.active {
    left: 0;
    width: 100%;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 100%;
  }
  .topbar {
    width: 100%;
    left: 0;
    padding: 0 20px;
  }

  .navigation ul {
    padding: 20px 20px;
  }

  .banner .imgBx {
    width: 250px;
    height: 250px;
  }

  .banner h3,p {
    text-align: center;
  }

  .adjust {
    padding: 0 20px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-textBox {
    width: 100%;
    min-width: 100%;
  }

  .about-imgBx {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .contactForm .row {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact {
    margin-bottom: 40px;
  }

  .copyright {
    padding: 10px 20px;
  }
}